PORT=5000
MONGO_URI=mongodb+srv://grAIn-joshua:capstone1@grain-admin.spyyosa.mongodb.net/?appName=grAin-admin
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production-to-a-random-string
NEXT_PUBLIC_API_URL=http://localhost:3000/api
NODE_ENV=development